{% extends 'layout.html.twig' %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger mt-5">
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ path('author-login-check') }}" method="post">
        <div class="form-group">
            <label for="userName">Identifiant</label>
            <input type="text" id="userName" name="_username" class="form-control"
            value="{{ lastUserName }}">
        </div>

        <div class="form-group">
            <label for="pass">Mot de passe</label>
            <input type="password" id="pass" name="_password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary btn-block">Connexion</button>
    </form>

{% endblock %}