{% extends 'layout.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block content %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>

        {%  for book in bookList %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <a href="{{ path('book-delete', {'id': book.id}) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
