<div class="col-md-3 mt-3">
    <h3>Liste des auteurs</h3>
    <ul class="list-group">
        {% for author in authorList %}
            <li class="list-group-item">
                <a href="{{ path('article-by-author', {'id': author.id}) }}">
                    {{ author.fullName }}
                </a>

                <span class="badge badge-info badge-pill">
                    {{ author.articles | length }}
                </span>
            </li>
        {% endfor %}
    </ul>
</div>