<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} Titre par défaut {% endblock %}
    </title>
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>