<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} Titre par défaut {% endblock %}
    </title>

    {% block stylesheet %}
        <link rel="stylesheet" href="/yarn-assets/bootstrap/dist/css/bootstrap.min.css">
    {% endblock %}
</head>
<body class="container-fluid">

    {% if app.session.flashbag.peek('success') %}
        <div class="row justify-content-center">
            <div class="col-md-6 mt-2">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block js %}
    {% endblock %}
</body>
</html>
