{% extends'layout.html.twig' %}

{% block content %}

    <h1 class="mt-2">Liste des articles {{ pageTitle }}</h1>

    {% if is_granted('ROLE_AUTHOR') %}
        <div class="text-right mb-2">
            <a href="{{ path('article-new') }}" class="btn btn-primary">
                Nouvel article
            </a>
        </div>
    {% endif %}

    {% include 'article/_article-table.html.twig' %}
{% endblock %}

{% block aside %}
    {% include '_aside.html.twig' %}
{% endblock %}
