{% extends'layout.html.twig' %}

{% block content %}

    <h1 class="mt-2">Liste des articles</h1>

    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Commentaires</th>
        </tr>

        {% for article in articleList %}
            <tr>
                <td>{{ article.title }}</td>
                <td> {{ article.author.name }} </td>
                <td> {{ article.comments | length }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
